.loader {
    border: 20px solid #666;
    border-top: 20px solid #888;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
    margin-top: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loadingModal {
    background-color: #333;
    color: #AAA;
    text-align: center;
    width: 35vw;
    position: absolute;
    left: 30vw;
    z-index: 99999;
    padding: 50px;
    height: 23vh;
    top: 22vh;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

.loadingModalOverlay {
    background-color: #555;
    opacity: 0.5;
    z-index: 99998;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
}