a:link {color: white;text-decoration: none;text-shadow: 0px 0px 10px black;}      /* unvisited link */
a:visited {color: #FFF;text-shadow: 0px 0px 0px !important;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: white; }    /* selected link */

html {
	font-family : "Verdana";
}

button, input, span#first {
	font-size : 1.3em;	
}

#seedBox {
    width: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#seedBox > button {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 55px;
    border-radius: 15px;
    background-color: #666;
    color: #CCC;
    text-shadow: 0px 0px 10px black;
    border: none;
    cursor: pointer;
    z-index: 1;
}

#seedBox > input {
    position: absolute;
    top: 5px;
    left: -8px;
    width: 200px;
    border: none;
    border-radius: 15px;
    padding:10px;
    padding-right:40px;
    background-color: #444;
    text-align: right;
    color: #CCC;
    font-size: 30px;
    text-shadow: 0px 0px 10px black;
}

.modalOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}

.popUpModal {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    background-color: #444;
    border: 3px solid #444;
    border-radius: 15px;
    z-index: 101;
    color: #CFD8DC !important;
    text-align: center;
    box-shadow: 0px 0px 20px black;
}

body.light .popUpModal  {
    background-color:#CFD8DC;
    box-shadow: 0px 0px 20px black;
    border: none;
    color: black !important;
}

body.light

body.light .drawer {
    background-color: #bccad0;
}

body.light #txtSessionId {
    color: black;
    background-color: #CFD8DC;
    border-color: #bccad0;
    text-shadow: 0 0 0;
}

.popUpModal > h1 {
    text-align: center;
}

.popUpModal > p {
    text-align: center;
}

.modalButtons {
    position: absolute;
    bottom: 10px;
}

.modalButtons > button {
    width: 200px;
    border-radius: 10px;
}

#sessionText {
    position: absolute;
    right: 80px;
    top: 5px;
}

#sessionText > input {
    width: 200px;
    border: none;
    border-radius: 15px;
    padding:10px;
    background-color: #444;
    text-align: right;
    color: #CCC;
    font-size:30px;
    text-shadow: 0px 0px 10px black;
    z-index: -1;
}

#sessionText > button {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 55px;
    border-radius: 15px;
    background-color: #666;
    color: #CCC;
    text-shadow: 0px 0px 10px black;
    border: none;
    cursor: pointer;
    z-index: 0;
}

#menu {
    top: 75px;
    right: 5px;
    position: fixed;
    width: 250px;
    bottom: 5px;
    background-color: #555;
    color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 20px black;
    display:none;
    z-index:9998;
}

#seed {
    position: absolute;
    top: 5px;
    left: -8px;
    width: 200px;
    border: none;
    border-radius: 15px;
    padding:10px;
    padding-right:40px;
    background-color: #444;
    text-align: right;
    color: #CCC;
    font-size:30px;
    text-shadow: 0px 0px 10px black;
}

#board {
	font-size : 1.5em;
	width: 930px;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
	color: white !important;
}

#board div.word {
	position : relative;
	text-align : center;
	vertical-align : middle;
	cursor : pointer;
	overflow : hidden;
	margin: 3px;
	box-shadow: 0px 0px 20px black;
    background-color: #555;
    text-shadow: 0px 0px 10px black;
	border-radius: 15px;
	font-weight: 900;
	font-size: 14pt;
	width: 180px;
	height: 125px;
	display : inline-block;
	line-height : 99%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;    
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    transition: transform .2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;

}

body.light{
    background-color: #FFF;
}

body.light #board div.word {
    background-color: #FFF;
    color:black;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
    text-shadow: 0px 0px 5px #CFD8DC;
    box-shadow: 2px 2px 5px black;
}

body.light #board div.word div {
    /*text-shadow: 2px 2px 5px #CFD8DC; */
}

body.light .redStarts
{
    background-color:#ffb1b0 !important;
    box-shadow: 3px 3px 5px black;;
}

body.light .blueStarts
{
    background-color:#4FC3F7 !important;
    box-shadow: 3px 3px 5px black;;
}

body.light .score
{
    color:#FFF;
    text-shadow: 2px 2px 5px black;
    box-shadow: 3px 3px 5px black;
}

body.light #seed
{
    background-color:#CFD8DC;
    text-shadow:none;
    color:black;
}

body.light #board div.word:hover {
    box-shadow: 0px 0px 40px #CFD8DC;
}

body.light #footer{
  color: #CFD8DC !important;
}

body.light #menu {
    background-color:#CFD8DC;
    box-shadow: 0px 0px 10px black;
}

body.light .hamburger
{
  background-color:#CFD8DC !important;
  box-shadow: none;
}
body.light .hamburger-inner, body.light .hamburger-inner::before, body.light .hamburger-inner::after {
  background-color:#000;
}

body.light .menuText {
    color: black;
    text-shadow: none;
}

body.light .menuInput {
    color: black;
    text-shadow: none;    
}

body.light .menuButton {
    background-color:#FFF;
    color:black;
    text-shadow: 2px 2px 5px #CFD8DC;
}

body.light div.chosen {
    color: #FFF;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
    text-shadow: 2px 2px 5px black;
}

#board div.word:hover {
	font-size:16pt;
	z-index:99999;
	box-shadow: 0px 0px 40px black;
}

#board div.word:active {
	background-color:#444;
}

#board div.word div {
	display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;
	display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;
	display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;
	display:box;
    box-pack:center;
    box-align:center;
    height : 95%;
    /*text-shadow: 0px 0px 10px black;*/
}


.menuButton {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-color: #666;
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 10px black;
    cursor: pointer;    
    box-shadow: 3px 3px 5px black;
}

.menuText{
    font-size: 14pt;
    font-weight: 900;
    text-shadow: 3px 3px 5px black;
    cursor:pointer;
}

.menuInput {
    width: 230px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #444;
    text-align: center;
    color: #CCC;
    font-size: 1.3em;
    font-weight: 900;
    text-shadow: 0px 0px 10px black;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px black;
}

.menuCheck{
    margin-top:20px;
    cursor:pointer;
}

body {
	background-color:#333;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -ms-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.redStarts{
	background-color: #790707 !important;
	padding-right: 4px;
	border-radius: 15px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-top: 4px;
	box-shadow: 0px 0px 50px #000000;
}

.blueStarts{
	background-color: #317da7 !important;
	padding-right: 4px;
	border-radius: 15px;
	padding-bottom: 4px;
	padding-left: 2px;
	padding-top: 4px;
	box-shadow: 0px 0px 50px #000000;
}

#redScore{
    background-color: #d43434;
    z-index: 2;
}

#blueScore{
    background-color: #38b5d0;
    z-index: 2;
}

#yellowScore{
    background-color: #efe36d;
    z-index: 2;
}

#blackScore{
    background-color: #111111;
    color:white !important;
    z-index: 2;
}

.score{
	color: #333;
    font-size: 30pt;
    font-weight: 800;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
    margin-top: -12px;
    width: 25px;
    text-align: center;
    position:relative;
    top:-4px;
    box-shadow: 0px 0px 20px black;
   	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;    
}

#footer{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 20pt;
    font-weight: 900;
    color: #444 !important;
    z-index: -1;
}
#footer a{
	color: #444 !important;
	text-decoration: none;
	text-shadow: none
}
#footer a:hover{
	color: #444 !important;
	text-decoration: none;
}
#footer a:active{
	color: #444 !important;
	text-decoration: none;
}
#footer a:visited{
	color: #444 !important;
	text-decoration: none;
}

#welcomeButtons{

}

.sessionButton {
    height: 55px;
    width: 22vw;
    padding: 10px;
    font-weight: 900;
    border-radius: 15px;
    background-color: #666;
    color: #CCC;
    text-shadow: 0px 0px 10px black;
    box-shadow: 3px 3px 5px black;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px;
    margin-left: 25vw;
}

#txtSessionId {
    width: 20vw;
    border: solid #666;
    border-radius: 15px;
    padding: 10px;
    background-color: #444;
    text-align: center;
    color: #CCC;
    font-size: 30px;
    text-shadow: 0px 0px 10px black;
    margin-top: 10px;
}

.drawer {
    background-color: #333;
    width: 24vw;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    top: 90px;
    box-shadow: 3px 3px 5px black;
}

.drawer > p {
    padding: 5px;
    margin: 10px;
}

.drawer > .drawerText {
    overflow-x: hidden;
    position: absolute;
    width: 90%;
    left: 5%;
    right: 5%;
    bottom: 30%;
    top: 60px;
}

.drawer > .sessionButton {
    position: absolute;
    font-weight: 900;
    bottom: 10px;
    width: 90%;
    height: 25%;
    left: 5%;
    right: 5%;
    margin-left: 0;
    margin-right: 0;
}

.closeModalButton {
    position: absolute;
    top: -8px;
    right: 30px;
    cursor: pointer;
    border: none;
    font-weight: 600;
    color: #AAA;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #333;
    font-family: unset;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10px;
    border: solid #333 2px;
    font-size: 2em;
}

.closeModalButton:hover {
    background-color:#666;
    color: white;
    border: solid #333 2px;    
}

.closeModalButton:active {
    background-color:#666;
    color: white;
    border: solid #333 2px;    
}


.shareUrlText {
    overflow-wrap: break-word;
    font-weight: 800;
    font-style: italic;
}

body.light .sessionButton {
    background-color:#FFF;
    color:black;
    text-shadow: 2px 2px 5px #CFD8DC;
    box-shadow: 3px 3px 5px #888;
}

body.light .drawer {
    background-color: #e7f0f5;
    box-shadow: 3px 3px 5px #888;
}

body.light .closeModalButton {
    background-color: #e7f0f5;
    color: #333;
    border-width: 0;
}

body.light .closeModalButton:hover {
    background-color: #bcc2c5;
    color: #222;
}


.confirmModal {
    position: absolute;
    left: 30vw;
    width: 40vw;
    height: 300px;
    top: 25vh;
    z-index: 100000;
    background-color: #444;
    border-radius: 20px;
    box-shadow: 0px 0px 20px black;
}

.confirmModalTitle {
    text-align: center;
    color: #AAA;
}

.confirmModalText {
    padding: 20px;
    margin: 20px;
    color: white;
    background-color: #333;
    border-radius: 20px;
    text-align: center;
    height: 90px;
    font-weight: bold;
}

.confirmModalBtn {
    height: 55px;
    width: 18vw;
    padding: 10px;
    font-weight: 900;
    border-radius: 15px;
    background-color: #666;
    color: #CCC;
    text-shadow: 0px 0px 10px black;
    box-shadow: 3px 3px 5px black;
    border: none;
    cursor: pointer;
    position: absolute;
}

.confirmModalBtn.Left {
    left: 15px;
    bottom: 15px;
}

.confirmModalBtn.Right {
    right: 15px;
    bottom: 15px;
}

.embiggened {
    transform: scale(1.5,1.5);
    z-index: 5;
}

.clickOffCheck {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}


body.light .confirmModal {
    background-color: #CFD8DC;
    border: none;
    color: black !important;
}

body.light .confirmModalBtn {
    background-color: #FFF;
    color: black;
    text-shadow: 2px 2px 5px #CFD8DC;
    box-shadow: 3px 3px 5px #888;
}

body.light .confirmModalTitle {
    color: black;
}

body.light .confirmModalText {
    background-color: #e7f0f5;
    box-shadow: 3px 3px 5px #888;
    color: black;
}